@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Quicksand:wght@400;600&display=swap");
/*! reset css start*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.background {
  height: 100%;
  width: 100%;
  background-color: #ece9e9 !important;
  padding: 20px;
}
a {
  text-decoration: none !important;
}
ul,
ol {
  list-style-type: none;
}

:root {
  --brand-color: #4c3398;
  --primary-brand-color: #5d3ebc;
  --secondary-brand-color: #7849f7;
}
/*! reset css end*/

/*! navbar start */
.navbar {
  background-color: rgb(76, 51, 152);
}
.navbar-brand {
  height: 100%;
  border-radius: 6px 6px 0px 0px;
  pointer-events: none;
  padding: 12px 20px;
  margin-top: 5px;
  color: rgb(244, 242, 253);
}
.nav-item a {
  margin-top: 5px;
  color: rgb(244, 242, 253);
  background-color: var(--color-primary);
  height: 100%;
  border-radius: 6px 6px 0px 0px;
}
.active {
  transition: background-color 200ms ease 0s;
  background-color: #5d3ebc;
  color: #fff;
}
.nav-item a:hover {
  transition: background-color 200ms ease 0s;
  background-color: #5d3ebc;
  color: #fff;
}

/*! navbar end */
/*! hero-img start */
.hero-img-color {
  background: linear-gradient(90deg, #5d3ebc 0%, rgba(93, 62, 188, 0) 100%);
  height: 500px !important;
}
.carousel-item {
  z-index: -1 !important;
  opacity: 1 !important;
}
.carousel-item img {
  height: 500px !important;
  object-fit: cover;
}
/*! desc start */
.section {
  object-fit: cover;
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 20;
  width: 85%;
}

.section .getir {
  width: 180px;
  height: 180px;
}
.section h3 {
  font-size: 36px;
  font-weight: 600;
}
.sign-up {
  width: 400px;
  border-radius: 8px;
  background-color: #fafafa;
  padding: 24px 18px;
}
.sign-up h4 {
  color: var(--primary-brand-color);
  font-size: 16px;
  font-weight: 600;
}
.input-group button {
  height: 56px;
  border: 2px solid rgb(223, 222, 226);
  background-color: #fff;
  color: #000;
}
.input-group button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid rgb(223, 222, 226);
}
.input-group button:focus {
  border: 2px solid rgb(223, 222, 226) !important;
}
.flex-grow-1 input {
  height: 54px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
}
.button-telephone {
  padding: 14px 16px !important;
  width: 100%;
  display: block;
}
.button-telephone a {
  color: #7849f7 !important;
  transition: all ease 0.3s;
  font-weight: 600;
}
.button-telephone a:hover {
  background-color: #7849f7 !important;
  color: #ffd300 !important;
}
/*! desc end */
/*! hero-img end */

/*! categories start */
.categories {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 50px;
}

.categories-img {
  width: 100% !important;
  font-size: 15px !important;
  padding: 10px !important;
  transition: background 0.2s ease 0s;
}
.categories-img img {
  border-radius: 8px;
  border: 1px solid rgba(25, 25, 25, 0.1);
}
.categories-img:hover {
  background-color: #c3bbdd;
  border-radius: 5px;
  transition: background-color 200ms ease 0s;
}
.categories-img span {
  text-align: center;
  margin-top: 12px !important;
  font-size: 15px !important;
  line-height: 16px;
  color: #3e3e3e;
}
.desc {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
/*! categories end */
/*! app start */
.app {
  background-image: url(../img/app/doodle.png);
  background-color: var(--primary-brand-color);
  height: 312px;
}
.app h2 {
  font-size: 26px;
  color: #fff;
}
.app span {
  font-size: 16px;
  color: #fff;
}
/*! app end */
/*! campaign start */
.campaign {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.row-container {
  display: flex;
  column-gap: 15px;
}
.order {
  text-align: center;
  max-width: 292px;
  line-height: 25px;
  font-size: 18px;
  color: #5d3ebc;
}
.order-1 {
  text-align: center;
  margin-top: 8px;
  line-height: 23px;
  font-size: 15px;
  color: #697488;
  font-weight: normal;
}
/*! campaign end */
/*! footer start */
.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 100%;
  position: relative;
}
.col-3 div {
  font-size: 18px;
  color: #5d3ebc;
  line-height: 26px;
  margin-bottom: 16px;
  margin-left: 30px !important;
}
.col-3 ol li a {
  font-size: 14px;
  color: #191919;
}
.etbis {
  position: absolute;
  top: 40px;
  right: -50px;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 6px rgba(105, 116, 136, 0.15);
  border-radius: 8px;
  display: block;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.copyright span,
.copyright a {
  font-size: 13px;
  font-weight: 400;
  color: #525252;
}
.copyright i {
  font-size: 20px;
  color: #697488;
  padding: 5px;
}

.copyright i:hover {
  color: #7849f7;
  transition: background-color 200ms ease 0s;
  background-color: #f3f0fe;
  border-radius: 2px;
}

/*! footer end */
